<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F77F9C1C1E69CCEF004FFD53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F77F9C301E69CCF0004FFD53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F77F9C3B1E69CCF0004FFD53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
